<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>


<ul class="navbar-right">
  <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">3</span></a></li>
</ul><nav>
<div class="container">
<ul class="navbar-left">
  <li><a href="#">Home</a></li>
  <li><a href="#about">Menu</a></li>
</ul> <!--end navbar-left -->

<ul class="navbar-right">
  <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">3</span></a></li>
</ul> <!--end navbar-right -->
</div> <!--end container -->
</nav>


<div class="container">
<div class="shopping-cart">
<div class="shopping-cart-header">
  <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
  <div class="shopping-cart-total">
    <span class="lighter-text">Total:</span>
    <span class="main-color-text">$9</span>
  </div>
</div> <!--end shopping-cart-header -->

<ul class="shopping-cart-items">
  <li class="clearfix">
    <span class="item-name">Pop</span>
    <span class="item-price">$1</span>
    <span class="item-quantity">Quantity: 01</span>
  </li>

  <li class="clearfix">
    <span class="item-name">Fries</span>
    <span class="item-price">$3</span>
    <span class="item-quantity">Quantity: 01</span>
  </li>

  <li class="clearfix">
    <span class="item-name">Burger</span>
    <span class="item-price">$5</span>
    <span class="item-quantity">Quantity: 01</span>
  </li>
</ul>

<a href="#" class="button">Checkout</a>



</div> <!--end shopping-cart -->
</div> <!--end container -->
