<!DOCTYPE html>
<html lang="en">

<!--Files-->
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

<!--Header-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">The Chill-Grill</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item ml-lg-3">
          <a class="nav-link  text-light" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/menu">Menu</a>
        </li>

        <li class="nav-item dropdown   ml-lg-3 ">
          <a class="nav-link dropdown-toggle text-light d-inline-block bg-orange rounded p-1 p-lg-2" href="/cart"
            id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            Cart
          </a>
        </li>
      <ul class="dropdown-menu dropdown-menu-lg-right p-5 sign__container" aria-labelledby="navbarDropdownMenuLink">


    </div>
  </div>
</nav>
</html>
