<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

<nav>
  <div class="container">
    <ul class="navbar-left">
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
    </ul>

    <ul class="navbar-right">
      <a href="/cart" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">3</span></a>

      <a class="nav-item nav-link" href="/login">Login</a>
    </ul>

  </div>
</nav>



