<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
  <title>shopping-cart</title>
</head>

<body>
  <div class="container">
    <div class="box card-panel z-depth-3">
      <div class="invoice">
        <table class="highlight">
          <h2>YOUR ORDER:</h2>
          <thead>
            <tr>
              <th class="item-quantity">QTY</th>
              <th  class="item-name">ITEM</th>
              <th class="item-price">PRICE</th>
            </tr>
          </thead>
          <tbody>
            <% for(let item of items) {  %>
            <tr>
              <td><%= item.quantity%></td>
              <td><%= item.name%></td>
              <td class="right-align"><%= item.price%></td>
            </tr>
            <% } %>

            <tr class="total-amount">
              <td></td>
              <td class="right-align bold">Total</td>
              <td class="right-align bold">$6.75</td>

            </tr>

          </tbody>
          <div class="button checkout row">
            <button id="checkout" type="button" class="btn btn-outline-info">Checkout</button>
          </div>

        </table>
      </div>



    </div>

  </div>

  <!--end container -->


<!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>
