<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
    <title>shopping-cart</title>
</head>

<body>
  <div class="container">
    <div class="box card-panel z-depth-3">
      <div class="invoice">
        <table class="highlight">
          <h2>YOUR ORDER:</h2>
          <thead>
            <tr class="order-title">
              <th class="item item-quantity">QTY</th>
              <th class="item item-name">ITEM</th>
              <th class="item item-price">PRICE</th>
              <th class="item item-remove">REMOVE</th>
            </tr>
          </thead>
          <tbody>
            <% for(let item of OrderItems) { %>
              <tr>
                <td>
                  <%= item.name%>
                </td>
                <td class="right-align">
                  $<%= item.price%>
                </td>
                <td class="right-align">
                  Remove
                </td>
              </tr>
              <% } %>

                <div class="total-amount">
                  <td></td>
                  <td class="right-align bold">Total</td>
                  <td class="right-align bold">$6.75</td>
                </div>
          </tbody>
        </table>

        <div id="checkout" class="button checkout row">
          <button type="button" class="btn">Checkout</button>
        </div>
      </div>



    </div>

  </div>

  <!--end container -->


  <!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>
