<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/head'); %>
      <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
      <link rel="stylesheet" href="/styles/orderPlaced.scss" type="text/scss" />

      <title>shopping-cart</title>
  </head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>

  <div class="alert alert-info">
    <div>
    <h5><p>Confirm Order:</p></h5>
    </div>
    <form id="time">
      <p>Confirm the order by entering the estimated time it will take to complete it.</p>
      <label>Estimated Time: </label>
      <input id="time_est" name="time_est" value="value=1" type="number" pattern="[0-9]" placeholder="minutes">
       <button id="confirm_time_est_btn" type="button" class="btn btn-info">Confirm</button>
    </form>

    <hr>

    <h5><p>Complete Order:</p></h5>
    <form id="completed" class="hide_completed">
      <p>When the order is complete please press the completed button.</p>
      <div id="align_buttons">
        <div>Order Number: #<span id="order_Id"><%= orderId %></span></div>
        <button id="order_done_btn" type="button" class="btn btn-success">Order Completed</button>
    </form>
  </div>



  <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>
