<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>
<header>
  <%- include('partials/header'); %>
</header>
<body class="container">

   <main>
    <h3>Create Account</h3>
      <form class="justify-content-center" method="POST" action="/register">
        <div class="form-group mb-2">
          <!-- textbox for email input -->
          <label for="email">Email address</label>
          <input class="form-control" type="email" name="email" placeholder="Enter email"
            style="width: 300px; margin: 1em">
        </div>
        <!-- textbox for password input -->
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password"
          style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-success">Register</button>
      </form>

  </main>

  <footer>
    <%- include('partials/footer'); %>
  </footer>


</body>

</html>
