<<<<<<< HEAD

.cover {
  background: url('https://images5.alphacoders.com/415/415257.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

=======
h1.menu {
  padding: 1em;
}

.menu-item {
  padding-left: 1em;
  font-size: 30px;
  padding-bottom: 50px;
}

.menu-picture {
  width: 300px;
}

.addToCart {
  margin: 20px;
}
>>>>>>> 4dd5b7987682525186ab43cca3628de414d2960d
