<<<<<<< HEAD
h1.menu {
  color: red;
}
=======

.cover {
  background: url('https://images5.alphacoders.com/415/415257.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

>>>>>>> 5f557ded60fb4305d59be563a57fc4db6a6d3556
